<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-lg-6 offset-lg-3">
      <h1 class="font-weight-normal mb-4">
        Edit Post
      </h1>
      <%= form_with(model: @post, local: true) do |post| %>
        <p>
          <%= post.label :name %><br>
          <%= post.text_field :name, required: true, class: "w-100" %>
        </p>

        <p>
          <%= post.label :content %><br>
          <%= post.text_area :content, required: true, class: "w-100" %>
        </p>

        <p>
          <%= post.label :file, 'Image:' %>
          <%= post.file_field :file, required: true %>
        </p>

        <p>
          Category: <%= post.select :category_id, @all_category.map{|i| [i.name, i.id]} %>
        </p>

        <p class="mt-5 mb-5 text-center">
          <%= post.submit 'Update Post', class: 'btn btn-outline-dark'%>
        </p>
      <% end %>
      <p class="mt-5 mb-5 text-center">
        <%= link_to 'Posts', posts_path, class: "link" %>
      </p>
    </div>
  </div>
</div>

