<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-lg-6 offset-lg-3">
      <h1 class="font-weight-normal mb-4">
        Add a new category to our awesome category collection
      </h1>
      <%= form_for @category, url:categories_path do |form| %>
        <p>
          <%= form.label :name %><br>
          <%= form.text_field :name, required: true, class: "w-100" %>
        </p>

        <p>
          <%= form.label :description %><br>
          <%= form.text_area :description, required: true, class: "w-100" %>
        </p>

        <p class="mt-5 mb-5 text-center">
          <%= form.submit 'Create Category', class: 'btn btn-outline-dark'%>
        </p>
      <% end %>
      <p class="mt-5 mb-5 text-center">
        <%= link_to 'Categories', categories_path, class: "link" %>
      </p>
    </div>
  </div>
</div>

