<!DOCTYPE html>
<html>
  <head>
    <title>RubyTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/header' %>
        <div class="fixed">
          <%= yield %>
        </div>
      <%= render 'layouts/footer' %>

    </div>
  </body>
  <!-- Google Analytics -->
<!--  <script>-->
<!--      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;-->
<!--      ga('create', 'UA-XXXXX-Y', 'auto');-->
<!--      ga('send', 'pageview');-->
<!--      console.log(ga.q);-->
<!--      // ga('create', 'UA-XXXXX-Y', 'auto', 'myTracker');-->

<!--      ga('send', 'screenview', {-->
<!--          'appName': 'myAppName',-->
<!--          'screenName': 'Home'-->
<!--      });-->
<!--      ga('create', 'GA_MEASUREMENT_ID', 'auto');-->
<!--      ga('set', 'appName', 'myAppName');-->

<!--      // The `appName` field is now set, so-->
<!--      // screenview hits don't need to include it.-->
<!--      ga('send', 'screenview', {screenName: 'Home'});-->
<!--  </script>-->
<!--  <script async src='https://www.google-analytics.com/analytics.js'></script>-->
  <!-- End Google Analytics -->
</html>
